.icon
  background-image: url(img/{{{spritesheet.escaped_image}}})

{{#if retina_spritesheet}}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  .icon
    background-image: url(img/{{{retina_spritesheet.escaped_image}}})
    background-size: {{spritesheet.px.width}} {{spritesheet.px.height}}


{{/if}}

{{#each sprites}}
$s-{{name}}-x: {{px.x}}
$s-{{name}}-y: {{px.y}}
$s-{{name}}-offset-x: {{px.offset_x}}
$s-{{name}}-offset-y: {{px.offset_y}}
$s-{{name}}-width: {{px.width}}
$s-{{name}}-height: {{px.height}}
$s-{{name}}-total-width: {{px.total_width}}
$s-{{name}}-total-height: {{px.total_height}}
$s-{{name}}: {{px.x}} {{px.y}} {{px.offset_x}} {{px.offset_y}} {{px.width}} {{px.height}} {{px.total_width}} {{px.total_height}}
{{/each}}


@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)