// BEGIN FILTER 
.filter
	.filter__top-line Фильтры
	.filter__hide
		form(action="/").form
			.form__line
				label(for="login").label Цвет
				select(name="").select.zelect-sel
					option(value="1") Все цвета
					option(value="1") Синий
					option(value="1") Зеленый
					option(value="1") Черный
			.form__line
				label(for="login").label Материал
				select(name="").select.zelect-sel
					option(value="1") Все материалы
					option(value="1") Синий
					option(value="1") Зеленый
					option(value="1") Черный
			.form__line
				label(for="login").label Производитель
				select(name="").select.zelect-sel
					option(value="1") Все производители
					option(value="1") Синий
					option(value="1") Зеленый
					option(value="1") Черный
			.form__line
				label(for="login").label Размер
				select(name="").select.zelect-sel
					option(value="1") Все размеры
					option(value="1") Синий
					option(value="1") Зеленый
					option(value="1") Черный
			.form__line
				label(for="login").label Бренды
				select(name="").select.zelect-sel
					option(value="1") Все бренды
					option(value="1") Синий
					option(value="1") Зеленый
					option(value="1") Черный
		.filter__remove
			.link-container
				a(href="#").filter__link Сбросить
// END FILTER 