// BEGIN FOOTER 
.footer
	.container
		.footer__phone
			.phone
				a(href="tel:88003330734").phone__link 8-800-333-07-34
				.phone__text бесплатный многоканальный номер
		.footer__question-btn
			a(href="#").question-btn Задать вопрос

		// BEGIN FOOTER-CONTACT 
		.footer-contact
			.footer-contact__title Наши контакты
			.copyright.footer-contact__copyright 2016 &copy; ООО &laquo;БАД для мужчин&raquo;
			dl.footer-contact__list
				dt.footer-contact__term Адрес:
				dd.footer-contact__desc 695582 Приморский край, г. Находка, ул. Портовая, д.16, оф. 23
				dt.footer-contact__term E-mail:
				dd.footer-contact__desc
					a(href="mailto:sale@shop-vl.ru").footer-contact__link.footer-contact__link_red sale@shop-vl.ru
				dt.footer-contact__term Тел.:
				dd.footer-contact__desc
					a(href="mailto:sale@shop-vl.ru").footer-contact__link 8-800-333-07-34
				dt.footer-contact__term Skype:
				dd.footer-contact__desc
					a(href="skype:sale-shop").footer-contact__link sale-shop
		// END FOOTER-CONTACT 
		
		.footer__payments
			.payments
				.payments__title Мы принимаем:
				ul.payments__list
					li.payments__item
						i.icon.icon_visa
					li.payments__item
						i.icon.icon_mascard
					li.payments__item
						i.icon.icon_yad
					li.payments__item
						i.icon.icon_paypal
					li.payments__item
						i.icon.icon_wmr
					li.payments__item
						i.icon.icon_qiwi
					li.payments__item
						i.icon.icon_doc
					li.payments__item
						i.icon.icon_robokassa


		.footer__links
			a(href="#").footer__link Договор оферты
			a(href="#").footer__link Политика конфиденциальности

		.footer__social
			.social
				.social__title Мы в соцсетях
				ul.social__list
					li.social__item
						a(href="#").social__link
							i.icon.icon_vk
					li.social__item
						a(href="#").social__link
							i.icon.icon_inst
					li.social__item
						a(href="#").social__link
							i.icon.icon_tw
					li.social__item
						a(href="#").social__link
							i.icon.icon_od
					li.social__item
						a(href="#").social__link
							i.icon.icon_yt

		.hr.hr_gray

		.copyright.copyright_bottom 2016 &copy; ООО &laquo;БАД для мужчин&raquo;

		.develop
			span.develop__text Сделано в
			a(href="#").develop__link
				i.icon.icon_develop.develop__icon
// END FOOTER 