// BEGIN HEADER 
.header
	.container
		.header__content
			// BEGIN HEADER__LOGO 
			.header__logo
				.logo
					a(href="#").logo__link
						img(src="img/logo.png", alt="").logo__pic
			// END HEADER__LOGO 
			// BEGIN HEADER__BUTTON 
			.header__buttons
				.button
					.button__item
						a(href="#").button__link
							i.icon.icon_search
					.button__item
						a(href="#").button__link
							i.icon.icon_like
					.button__item
						a(href="#").button__link.buuton__cart
							.cart-count
								span.cart-count__text 4
							i.icon.icon_cart
					.button__item
						a(href="javascript:;").button__link.button__link_hamburger
							.hamburger
								span.hamburger__line.hamburger__line_1
								span.hamburger__line.hamburger__line_2
								span.hamburger__line.hamburger__line_3
			// END HEADER__BUTTON 
	.container-nobd
		// BEGIN NAV 
		.nav
			ul.nav__list
				li.nav__item.nav__item_sub
					a(href="#").nav__link Каталог
					ul.icon-nav
						li.icon-nav__item
							a(href="#").icon-nav__link
								span.icon-nav__icon
									i.icon.icon_linen_w.icon-nav__icon-pic
								span.icon-nav__text Белье и одежда
						li.icon-nav__item
							a(href="#").icon-nav__link
								span.icon-nav__icon
									i.icon.icon_her_w.icon-nav__icon-pic
								span.icon-nav__text Игрушки для нее
						li.icon-nav__item
							a(href="#").icon-nav__link
								span.icon-nav__icon
									i.icon.icon_him_w.icon-nav__icon-pic
								span.icon-nav__text Игрушки для него
						li.icon-nav__item
							a(href="#").icon-nav__link
								span.icon-nav__icon
									i.icon.icon_bdsm_w.icon-nav__icon-pic
								span.icon-nav__text BDSM &amp; FETISH
						li.icon-nav__item
							a(href="#").icon-nav__link
								span.icon-nav__icon
									i.icon.icon_hygiene_w.icon-nav__icon-pic
								span.icon-nav__text Лубриканты и гигиена 
						li.icon-nav__item
							a(href="#").icon-nav__link
								span.icon-nav__icon
									i.icon.icon_pathogens_w.icon-nav__icon-pic
								span.icon-nav__text Возбудители желания
						li.icon-nav__item
							a(href="#").icon-nav__link
								span.icon-nav__icon
									i.icon.icon_oil_w.icon-nav__icon-pic
								span.icon-nav__text Массажные масла <br>и парфюмерия
						li.icon-nav__item
							a(href="#").icon-nav__link
								span.icon-nav__icon
									i.icon.icon_book_w.icon-nav__icon-pic
								span.icon-nav__text Журналы и сувениры
				li.nav__item.nav__item_sub
					a(href="#").nav__link Новинки
					// BEGIN SUB-NAV 
					ul.sub-nav
						li.sub-nav__item
							a(href="#").sub-nav__link Анальные
						li.sub-nav__item
							a(href="#").sub-nav__link Вибраторы
						li.sub-nav__item
							a(href="#").sub-nav__link Вагинальные шарики
						li.sub-nav__item
							a(href="#").sub-nav__link Виброяйца
						li.sub-nav__item
							a(href="#").sub-nav__link Вибростимуляторы
						li.sub-nav__item
							a(href="#").sub-nav__link Вибронаборы
						li.sub-nav__item
							a(href="#").sub-nav__link Игрушки из стекла
						li.sub-nav__item
							a(href="#").sub-nav__link Фалоиметаторы
						li.sub-nav__item
							a(href="#").sub-nav__link Бабочки
						li.sub-nav__item
							a(href="#").sub-nav__link Страпоны
						li.sub-nav__item
							a(href="#").sub-nav__link Куклы для женщин
						li.sub-nav__item
							a(href="#").sub-nav__link Помпы для женщин
						li.sub-nav__item
							a(href="#").sub-nav__link Секс машины
						li.sub-nav__item
							a(href="#").sub-nav__link Секс машины/аксессуары
						li.sub-nav__item
							a(href="#").sub-nav__link Качели
						li.sub-nav__item
							a(href="#").sub-nav__link Тренажёры
					// END SUB-NAV 
				li.nav__item
					a(href="#").nav__link Распродажи
				li.nav__item
					a(href="#").nav__link Новости
				li.nav__item
					a(href="#").nav__link Консультация сексолога
				li.nav__item
					a(href="#").nav__link Личный кабинет
				li.nav__item
					a(href="#").nav__link Форум
				li.nav__item
					a(href="#").nav__link Доставка
				li.nav__item
					a(href="#").nav__link Оплата
				li.nav__item
					a(href="#").nav__link О нас
			a(href="#").discount
				.discount__text
					span.t-red Получить<br>
					|  карту<br>
					| привилегий
			.nav-fullversion
				a(href="#").nav-fullversion__btn Полная версия
		// END NAV 
// END HEADER 
