// BEGIN PAGINATION 
.pagination
	a(href="#").pagination__control.pagination__control_prev
		i.icon.icon_p_prev
	ul.pagination__list
		li.pagination__item
			a(href="#").pagination__link 1
		li.pagination__item
			a(href="#").pagination__link 2
		li.pagination__item
			a(href="#").pagination__link 3
		li.pagination__item
			a(href="#").pagination__link.active 4
		li.pagination__item
			a(href="#").pagination__link 5
		li.pagination__item ...
		li.pagination__item
			a(href="#").pagination__link 275
	a(href="#").pagination__control.pagination__control_next
		i.icon.icon_p_next
// END PAGINATION 