// BEGIN PRODUCT-CARDS 
.product-cards
	.product-cards__list
		// BEGIN PRODUCT-CARD 
		.product-card
			.product-card__preview
				img(src="img/product-card.jpg", alt="").product-card__pic
			.product-card__content
				.product-card__name Viamax Maximum 
				.product-card__desc Натуральный гель, усиливающий эрекцию Далеко-далеко за словесными.
				.product-card__price 2799 р.
				ul.product-card__size-list
					li.product-card__size S
					li.product-card__size M
					li.product-card__size L
					li.product-card__size XL
				.product-card__icons
					.product-card__basket
						a(href="#").product-card__icon-link
							i.icon.icon_add_cart
					.product-card__like
						a(href="#").product-card__icon-link
							i.icon.icon_favorite
		// END PRODUCT-CARD 

		// BEGIN PRODUCT-CARD 
		.product-card
			.product-card__preview
				img(src="img/product-card.jpg", alt="").product-card__pic
			.product-card__content
				.product-card__name Viamax Maximum 
				.product-card__desc Натуральный гель, усиливающий эрекцию
				.product-card__price 2799 р.
				ul.product-card__size-list
					li.product-card__size S
					li.product-card__size M
					li.product-card__size L
					li.product-card__size XL
				.product-card__icons
					.product-card__basket
						a(href="#").product-card__icon-link
							i.icon.icon_add_cart
					.product-card__like
						a(href="#").product-card__icon-link
							i.icon.icon_favorite
		// END PRODUCT-CARD 

		// BEGIN PRODUCT-CARD 
		.product-card
			.product-card__preview
				img(src="img/product-card.jpg", alt="").product-card__pic
			.product-card__content
				.product-card__name Viamax Maximum 
				.product-card__desc Натуральный гель, усиливающий эрекцию
				.product-card__price 2799 р.
				ul.product-card__size-list
					li.product-card__size S
					li.product-card__size M
					li.product-card__size L
					li.product-card__size XL
				.product-card__icons
					.product-card__basket
						a(href="#").product-card__icon-link
							i.icon.icon_add_cart
					.product-card__like
						a(href="#").product-card__icon-link
							i.icon.icon_favorite
		// END PRODUCT-CARD 


		// BEGIN PRODUCT-CARD 
		.product-card
			.product-card__preview
				img(src="img/product-card.jpg", alt="").product-card__pic
			.product-card__content
				.product-card__name Viamax Maximum 
				.product-card__desc Натуральный гель, усиливающий эрекцию
				.product-card__price 2799 р.
				ul.product-card__size-list
					li.product-card__size S
					li.product-card__size M
					li.product-card__size L
					li.product-card__size XL
				.product-card__icons
					.product-card__basket
						a(href="#").product-card__icon-link
							i.icon.icon_add_cart
					.product-card__like
						a(href="#").product-card__icon-link
							i.icon.icon_favorite
		// END PRODUCT-CARD 



	a(href="#").product-cards__still следуюжщие 20 товаров
// END PRODUCT-CARDS 