// BEGIN PRODUCT-CARDS 
.product-cards
	.product-cards__list
		include ./product-card.jade
		include ./product-card.jade
		include ./product-card.jade
		include ./product-card.jade


	a(href="#").product-cards__still следуюжщие 20 товаров
// END PRODUCT-CARDS 