extends ./template/template.jade

block title
	title ДОСТАВКА И ОПЛАТА

block content
	include ./template/header.jade
	.container
		- var backtext = "ДОСТАВКА И ОПЛАТА";
		include ./template/back.jade

		// BEGIN CONTENT 
		.content
			h2 Вид доставки первый
			p Доступные цены. Мы не являемся перекупщиками. Мы работаем на правах представительства. Именно по этой причине многие цены на наши товары на порядок ниже, чем у других конкурентов.
			h2 Вид доставки второй
			p Доступные цены. Мы не являемся перекупщиками. Мы работаем на правах представительства. Именно по этой причине многие цены на наши товары на порядок ниже, чем у других конкурентов.
			h2 Третий вид доставки
			p Доступные цены. Мы не являемся перекупщиками. Мы работаем на правах представительства. Именно по этой причине многие цены на наши товары на порядок ниже, чем у других конкурентов.
			.btn-container
				a(href="#").btn.btn_psdding-big.btn_red Назад
		// END CONTENT 

	include ./template/full-site.jade
	include ./template/footer.jade