extends ./template/template.jade

block title
	title ЧТО ТАЯТ В СЕБЕ "ПЯТЬДЕСЯТ ОТТЕНКОВ СЕРОГО"

block content
	include ./template/header.jade
	.container
		- var backtext = 'ЧТО ТАЯТ В СЕБЕ "ПЯТЬДЕСЯТ ОТТЕНКОВ СЕРОГО"';
		include ./template/back.jade


		// BEGIN INFO 
		.info
			img(src="img/info.jpg", alt="")
			h2 Любопытство
			p В книге и фильме достаточно открыто и откровенно рассказывается об интимной стороне отношений двоих, которая обычно находится за семью запорами и недоступна окружающим. Но именно запретный плод всегда так притягателен. Манит то, что находится за закрытой дверью. Любопытство присуще человеческому естеству.
			p Ведь в каждом взрослом продолжает жить ребенок, которого так интересует, что делают взрослые в своей спальне, когда остаются одни. Касательно секса, людей всегда интригует запретное, особенно то, что они сами не пробовали сделать, но подразумевают, что это делают другие. Возникновение желания заглянуть в спальню других, когда разговор идет о сексе – не извращение и не патология, а природное любопытство.
			p Им и можно объяснить возникновение ажиотажа вокруг новых книг и кинофильмов, рассказывающих и показывающих, что и как происходит у других.

			.info__controls
				a(href="#").info__btn Предыдущая
				a(href="#").info__btn Следующая

		// END INFO 

	include ./template/full-site.jade
	include ./template/footer.jade