extends ./template/template.jade

block title
	title Полезная инфонрмация

block content
	include ./template/header.jade
	.container
		- var backtext = "Полезная инфонрмация";
		include ./template/back.jade

		include ./template/pagination.jade

		// BEGIN INFO-LIST 
		ul.info-list
			li.info-list__item
				.info-list__preview
					img(src="img/info-list.jpg", alt="").info-list__pic
				.info-list__desc
					a(href="#").info-list__link ЧТО ТАЯТ В СЕБЕ "ПЯТЬДЕСЯТ ОТТЕНКОВ СЕРОГО"
					.info-list__date 14.03.2016
			li.info-list__item
				.info-list__preview
					img(src="img/info-list.jpg", alt="").info-list__pic
				.info-list__desc
					a(href="#").info-list__link ЧТО ТАЯТ В СЕБЕ "ПЯТЬДЕСЯТ ОТТЕНКОВ СЕРОГО"
					.info-list__date 14.03.2016
			li.info-list__item
				.info-list__preview
					img(src="img/info-list.jpg", alt="").info-list__pic
				.info-list__desc
					a(href="#").info-list__link ЧТО ТАЯТ В СЕБЕ "ПЯТЬДЕСЯТ ОТТЕНКОВ СЕРОГО"
					.info-list__date 14.03.2016
			li.info-list__item
				.info-list__preview
					img(src="img/info-list.jpg", alt="").info-list__pic
				.info-list__desc
					a(href="#").info-list__link ЧТО ТАЯТ В СЕБЕ "ПЯТЬДЕСЯТ ОТТЕНКОВ СЕРОГО"
					.info-list__date 14.03.2016
			li.info-list__item
				.info-list__preview
					img(src="img/info-list.jpg", alt="").info-list__pic
				.info-list__desc
					a(href="#").info-list__link ЧТО ТАЯТ В СЕБЕ "ПЯТЬДЕСЯТ ОТТЕНКОВ СЕРОГО"
					.info-list__date 14.03.2016
			li.info-list__item
				.info-list__preview
					img(src="img/info-list.jpg", alt="").info-list__pic
				.info-list__desc
					a(href="#").info-list__link ЧТО ТАЯТ В СЕБЕ "ПЯТЬДЕСЯТ ОТТЕНКОВ СЕРОГО"
					.info-list__date 14.03.2016
		// END INFO-LIST 

		include ./template/pagination.jade


	include ./template/full-site.jade
	include ./template/footer.jade